/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.2;
  color: #ccc;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html, body {
  font-size: 10px; }

.clearFix {
  clear: both; }

.hide {
  display: none; }

a {
  text-decoration: none; }

p {
  font-size: 1.5em; }

h5 {
  font-size: 2em;
  font-weight: bold; }

h4 {
  font-size: 2.2em;
  font-weight: bold; }

h3 {
  font-size: 2.5em;
  font-weight: bold; }

h2 {
  font-size: 2.8em;
  font-weight: bold; }

h1 {
  font-size: 3em;
  font-weight: bold; }

.navbar {
  font-size: 2em;
  background: #000; }
  .navbar .navbar-brand {
    font-size: 1.5em; }
  .navbar li, .navbar .nav-link {
    padding: 0.7em; }
  .navbar .navbar-brand {
    padding: 0.8em; }
  .navbar .custom-toggler {
    border-color: #ccc; }
    .navbar .custom-toggler .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(204,204,204, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

.carousel-item {
  transition: transform 0.25s ease, opacity 0.5s ease-out; }

.carousel-caption {
  top: 35%;
  max-height: 650px; }
  .carousel-caption p {
    font-size: 2.5em;
    padding-bottom: 1em;
    text-shadow: 2px 2px 10px #000; }
  .carousel-caption h2 {
    text-shadow: 2px 2px 10px #000; }
  .carousel-caption button {
    text-shadow: 2px 2px 10px #000;
    padding: 1.2em; }

.fa-arrow-circle-o-left, .fa-arrow-circle-o-right {
  font-size: 6em; }

/*# sourceMappingURL=main.css.map */
