a{
    text-decoration: none;
}
p{
    font-size: 1.5em;
}
h5{
    font-size:2em;
    font-weight:bold;
}
h4{
   font-size:2.2em;
    font-weight:bold; 
}
h3{
    font-size:2.5em;
    font-weight:bold;
}
h2{
    font-size:2.8em;
    font-weight:bold;
}
h1{
    font-size: 3em;
    font-weight:bold;
}