// colors
$white: #fff;
$silver:#ccc;
$black: #000;
$backgroundColor:#fff;
// $theme:
$primary:#1c1124;
$secondary:#684656;
$mainColor:#de774e;
$optional:#b7e1b5;

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    &:before,&:after{
        margin:0;
        padding:0;
        box-sizing: border-box;
    }
  
}
body{
    font-family: 'Open Sans', sans-serif;
    line-height:1.2;
    color:$silver;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html,body{
    font-size: 10px;
}
