// body {
//   overflow-y:hidden;
// }
.navbar{
    font-size: 2em;
   background:$black;
   .navbar-brand{
       font-size: 1.5em;
   }
   li,.nav-link{
       padding:0.7em;
       
   }
   .navbar-brand{
       padding:0.8em;
   }
  
   .custom-toggler{
        border-color: $silver;
        .navbar-toggler-icon{
              background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(204,204,204, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }
   }
}

.carousel-item{
    transition: transform 0.25s ease, opacity .5s ease-out
  
}
.carousel-caption{
    top:35%;
    max-height:650px;
    p{
      font-size:2.5em;
      padding-bottom: 1em;
      text-shadow: 2px 2px 10px #000;
    //   color:$optional;
  }
  h2{
    //   color:$optional;
      text-shadow: 2px 2px 10px #000;
  }
  button{
       text-shadow: 2px 2px 10px #000;
      padding:1.2em;
  }
}
.fa-arrow-circle-o-left,.fa-arrow-circle-o-right{
    font-size:6em;
    // color:$optional;
}
